# logs
*.log
.DS_Store

*.local

# Compiled python
*.pyc

# IPython notebook checkpoints
.ipynb_checkpoints

# Editor temporaries
*.swp
*~

# data file
*.npy
*.zip
*.tif
*lmdb
*leveldb
*.hdf5

# model checkpoint
*.pt


#image files
*.tif

#compressed files
.tar.gz

# pycharm
.idea

notebooks/outputs/*

apps/radiology/model/*
apps/radiology/logs/*
apps/radiology/bin/*
